<h2>
	State Finals Certamen Results
</h2>
<p>
	Level I: 1st Place <br>
	Level II: 2nd Place <br>
	Level III: 4th Place <br>
	Upper Level: 3rd Place <br>
</p>

<h2>
	Classics Day 2014: UVA Certamen Results
</h2>
<p>
	Level I B: 5th Place <br>
	Level I A: 1st Place <br>
	Level II: 2nd Place <br>
	Level III: 4th Place <br>
	Upper Level: 1st Place <br>
</p>

<h2>
	2014 Riverbend Certamen Awards
</h2>
<p>
	Level I B: 5th Place <br>
	Level I A: 1st Place <br>
	Level II: 3rd Place <br>
	Level III: 2nd Place <br>
	Upper Level A: 1st Place <br>
	Upper Level B: 5th Place <br>
</p>

<h2>
	2013 VJCL Convention Awards
</h2>
<p>
	<a href="docs/awards/convention2013/Academic_Contests.pdf" > Academic Awards </a> <br>
	<a href="docs/awards/convention2013/Creative_Arts.pdf" > Creative Arts </a> <br>
	<a href="docs/awards/convention2013/Graphic_Arts.pdf" > Graphic Arts </a> <br>
</p>
	
<h2>
	Kickoff Certamen Awards
</h2>
<p>
	Level I: 2nd Place <br>
	Level II: 5th Place <br>
	Level III: 2nd Place <br>
	Upper Level: 1st Place <br>
</p>

<h2>
	2013 NJCL Convention Awards
</h2>
<p>
	Located in page 6 of the <a href="https://activities.tjhsst.edu/latin/Awards/Sept_Oct_Newsletter.pdf" >2013 September/October Newsletter</a>.
</p>

<h2>
	Classics Day 2013: UVA Certamen Results
</h2>
<p>
	Level I: 1st Place <br>
	Level II: 2nd Place <br>
	Level III: 4th Place <br>
	Upper Level: 4th Place <br>
</p>


<h2>
	Flint Hill Certamen Results
</h2>
<p>
	Level I: 3rd Place <br>
	Level II: 2nd Place <br>
	Level III: 2nd Place <br>
	Upper Level: 5th Place <br>
</p>


<h2>
	Riverbend Certamen 2013 Results
</h2>
<p>
	Level I: 4th Place <br>
	Level II: 4th Place <br>
	Level III: 2nd Place <br>
	Upper Level: 5th Place <br>
</p>
