<h2>
	State Finals Certamen Results
</h2>
<p>
	Level I: 2nd Place <br>
	Level II: 4th Place <br>
	Level III: 3rd Place <br>
	Upper Level A: 3rd Place <br>
    Upper Level B: 5th Place <br>
</p>

<h2>
	Wakefield Country Day Certamen Results
</h2>
<p>
	Level I: 2nd Place <br>
	Level II: 4th Place <br>
	Level III A: 3rd Place <br>
    Level III B: 5th Place <br>
	Upper Level: 4th Place <br>
</p>

<h2>
	Flint Hill Certamen Results
</h2>
<p>
	Level I: 2nd Place <br>
	Level II: 5th Place <br>
	Level III: 2nd Place <br>
	Upper Level: 1st Place <br>
</p>
	
<h2>
	Kickoff Certamen Awards
</h2>
<p>
    Level I: 2nd Place <br>
	Level II: 7th Place <br>
	Level III A: 4th Place <br>
	Upper Level: 7th Place <br>
</p>




