<h2>
	Flint Hill Certamen Results
</h2>
<p>
	Level I: 2nd Place <br>
	Level II: 2nd Place <br>
	Level II B: 6th Place <br>
	Level III: 1st Place <br>
	Upper Level A: 2nd Place <br>
</p>

<h2>
	Riverbend Certamen Results
</h2>
<p>
	Level I: 2nd Place <br>
	Level II A: 3rd Place <br>
	Level II B: 4th Place <br>
	Level III A: 4th Place <br>
    Level III B: 5th Place <br>
	Upper Level A: 3rd Place <br>
	Upper Level B: 5th Place <br>
	Upper Level C: 4th Place <br>
</p>
	
<h2>
	Kickoff Certamen Awards
</h2>
<p>
    Level I A: 8th Place <br>
    Level I B: 6th Place <br>
    Level II A: 3rd Place <br>
    Level II A: 6th Place <br>
	Level III A: 6th Place <br>
	Level III B: 5th Place <br>
	Level III C: 7th Place <br>
	Upper A: 2nd Place <br>
	Upper B: 5th Place <br>
</p>




