<h2>
	Kick-off Certamen @ St. Steven's and St. Agnes' School (Oct 3)
</h2>
<p>
	<b> Warmest congratulations to our six teams! </b> <br>
  Novice Amateur: 1st Place <br>
  Intermediate Competitive A: 2nd Place <br>
  Intermediate Competitive B: 6th Place <br>
  Advanced Amateur: 1st Place <br>
  Advanced Competitive A: 2nd Place <br>
  Advanced Competitive B: 4th Place <br>
</p>
<h2>
	Classics Day @ University of Virginia (Apr 7)
</h2>
<p>
	Novice Team A: 1st Place <br>
	Novice Team B: 2nd Place <br>
	Intermediate Team A: 1st Place <br>
	Advanced Team A: 3rd Place <br>
	Advanced Team B: 4th Place <br>
</p>
<h2>
	State Finals @ Riverbend High School (Apr 21)
</h2>
<p>
	<b> Other than our final In-House Certamen, this was an amazing way to end the season. </b> <br>
  Novice Team A: 4th Place <br>
  Novice Team B: 3rd Place <br>
  Intermediate Team A: 1st Place <br>
  Intermediate Team B: 5th Place <br>
  Intermediate Team C: 4th Place <br>
  Advanced Team A: 1st Place <br>
</p>
