<h2>
	Kick-off Certamen @ St. Steven's and St. Agnes' School (Oct 27)
</h2>
<p>
	<b> Special congratulations to our certamen teams! </b> <br>
  Intermediate B team: 3rd place in finals <br>
  Intermediate A team: 3rd place in prelims <br>
  Intermediate D team: 4th place in prelims <br>
  Intermediate C team: 5th place in prelims <br>
  Advanced A team: 1st place in finals <br>
  Advanced D team: 3rd place in prelims<br>
  Advanced B team: 4th place in prelims<br>
</p>
<h2>
	BASIS DC Certamen @ BASIS Charter School (Dec 8)
</h2>
<p>
	<b> Warm congrats to the following!</b><br>
  Novice team: 2nd place<br>
  Intermediate C team: 1st place<br>
  Intermediate A team: 3rd place<br>
  Intermediate B team: 4th place<br>
  Advanced C team: 1st place<br>
  Advanced A team: 4th place (tie)<br>
  Advanced D team: 4th place (tie)<br>
</p>
<h2>
	Flint Hill Certamen @ Flint Hill School (Jan 12)
</h2>
<p>
	<b> Another amazing performance by our teams. </b> <br>
  Novice team: 1st place<br>
  Intermediate A team: 1st place<br>
  Intermediate B team: 2nd place in prelims<br>
  Intermediate C team: 5th place<br>
  Advanced A team: 1st place<br>
  Advanced B team: 2nd place in prelims<br>
  Advanced C team: 5th place<br>
  Advanced D team: 6th place<br>
</p>
