<div class="container">
	<div class="row">
		<div class="col-md-8">
			<h1> About TJ Latin Honor Society </h1>
			<div class = "row">
			    <img class="img-responsive" src="img/tj_collage.png" alt="...">
			</div>
			<div class="row">
				<p style="margin-top:5px;">
					Thomas Jefferson High School for Science and Technology (TJ) is a Virginia Governor's School and a founding member of the National Consortium for Specialized Secondary Schools of Mathematics, Science and Technology. TJ has been awarded the title of #1 high school in the US by US News multiple times, and continues to <a href="http://www.usnews.com/education/best-high-schools/national-rankings/stem?int=a6f709">top the list in the STEM Category.</a> This year, TJ was also awarded the title of #1 high school by <a href="http://www.newsweek.com/high-schools/americas-top-schools-2014">Newsweek</a>. <br> 
					<br>
					TJ Latin Club, together with the Latin Honor Society and our Certamen teams, is one of the most active academic clubs at TJ. We host fun Rome-related activities as well as rigorous tests - check out our pictures and awards! We are an extremely spirited community, consistently taking the top spots for spirit at state and national conventions. There's a multitude of opportunities for anyone interested in Latin to engage with LHS. If you like academics, you'll enjoy taking part in the myriad of <a href="http://njcl.org/pages/on-line-tests">tests</a> we take during the year, many of which our students win national awards for. If you enjoy artwork, you can submit it for prizes at <a href="http://virginiajcl.org/packet/2014%20VJCL%20Arts%20and%20Crafts%20Rules.pdf">convention</a> and take part in various art-related Latin Honor Society activities hosted throughout the year. If you just want to have fun, the Roman holidays we celebrate are both educational and a blast to attend!
				</p>
			</div>
		</div>
		<div class="col-md-4" style="margin-top: 21px;">
			<div class="media">
				<a class="pull-left" href="#">
					<img class="img-responsive" src="img/people_board.png" alt="...">
				</a>
				<div class="media-body">
					<h4 class="media-heading">Executive Board</h4>
					<p> New LHS officers are elected every year. <a href="mailto:tjlatinhonorsociety@gmail.com"> tjlatinhonorsociety@gmail.com </a></p>
				</div>
			</div>
			<ul class="list-group" style="margin-top:10px;">
				<li class="list-group-item">
					<span class="badge">CONSULS</span>
					Stephanie Do and Rebecca Mays
				</li>
				<li class="list-group-item">
					<span class="badge">PRAETORES MAXIMI</span>
					Robert Kim and Henna Nam
				</li>
				<li class="list-group-item">
					<span class="badge">PRAETOR MAGNUS</span>
					Joseph Kim
				</li>
				<li class="list-group-item">
					<span class="badge">TRIBUNE</span>
					Dylan Klapper
				</li>
				<li class="list-group-item">
					<span class="badge">CENSOR</span>
					Militsa Sotirova
				</li>
				<li class="list-group-item">
					<span class="badge">REX CERTAMINIS</span>
					Arjun Guidroz, Minyoung Hwang, and John Kim
				</li>
				<li class="list-group-item">
					<span class="badge">AUCTOR</span>
					Anshu Sharma
				</li>
				<li class="list-group-item">
					<span class="badge">ARTIFICES</span>
					Elizabeth Hu, Hannah Kim, and Elizabeth Li
				</li>
				<li class="list-group-item">
					<span class="badge">DOMINA TELAE</span>
					Emily Wang
				</li>
				<li class="list-group-item">
					<span class="badge">PROCONSUL</span>
					Wonseok Song
				</li>
			</ul>
		</div>
	</div>
</div>
<br>
<div class="container">
	<header class="clearfix">
		<h1>Meet the magistrae!</h1>	
	</header><br>
	<div class="row">
		<div class="col-md-6">
			<div class = "well" style="overflow:auto;">
				<!-- <div class="media">
					<a class="media-left">
						<img class="img-responsive" src="img/conklin_square.png" alt="...">
					</a>
					<div class="media-body">
							<h4 class="media-heading" style="display:inline;">Christine Conklin,</h4> <a href="mailto:christine.conklin@fcps.edu"> CLConklin@fcps.edu </a>
							<ul style="padding-left:20px">
								<li style="list-style-type:circle">Co-sponsors <strong>National Latin Honor Society, the Latin Club, and Certamen</strong></li>
								<li style="list-style-type:circle"><strong>Education:</strong> B.A., Elmira College, M.A. in Classics, University of Maryland</li>
								<li style="list-style-type:circle"><strong>AP Reader</strong> for Latin: '05, '06, '07, '09, '13</strong></li>
								<li style="list-style-type:circle">Member of <strong>ACL, FCLTA, CAAS, CAES, CAMWS, Executive Board of National Junior Classical
	League </strong></li>
							</ul>
					</div>
				</div> -->

				<div class="col-md-4">
					<a>
						<img class="img-responsive" src="img/conklin_square.png" alt="...">
					</a>
				</div>
				<div class="col-md-8">
					<a>
						<h4 style="display:inline;">Christine Conklin,</h4> <a href="mailto:christine.conklin@fcps.edu"> CLConklin@fcps.edu </a>
							<ul style="padding-left:20px">
								<li style="list-style-type:circle">Co-sponsors <strong>National Latin Honor Society, the Latin Club, and Certamen</strong></li>
								<li style="list-style-type:circle"><strong>Education:</strong> B.A., Elmira College, M.A. in Classics, University of Maryland</li>
								<li style="list-style-type:circle"><strong>AP Reader</strong> for Latin: '05, '06, '07, '09, '13</li>
								<li style="list-style-type:circle">Member of <strong>ACL, FCLTA, CAAS, CAES, CAMWS, Executive Board of NJCL </strong></li>
							</ul>
					</a>
				</div>
			</div>
		</div>
		<div class="col-md-6">
			<div class = "well" style="overflow:auto;">
				<!-- <div class="media">
					<div class="media-body">
						<h4 class="media-heading" style="display:inline">Patricia Lister,</h4> <a href="mailto:PHLister.conklin@fcps.edu"> PHLister@fcps.edu </a>
						<ul style="padding-left:20px">
							<li style="list-style-type:circle">Co-sponsors <strong>National Latin Honor Society, the Latin Club, and Certamen</strong></li>
							<li style="list-style-type:circle"><strong>Education:</strong> B.A., William and Mary</li>
							<li style="list-style-type:circle"><strong>AP Reader</strong> for Latin: '04</strong></li>
							<li style="list-style-type:circle"><strong>Writing Committee</strong> for National Latin Exam </strong></li> 
							<li style="list-style-type:circle"> Member of <strong>ACL, FCLTA, CAV, CAMWS </strong></li>
						</ul>
					</div>
					<a class="media-right">
						<img class="img-responsive" src="img/lister_square.png" alt="...">
					</a>
				</div> -->
				<div class="col-md-8">
					<a>
						<h4 style="display:inline">Patricia Lister,</h4> <a href="mailto:PHLister.conklin@fcps.edu"> PHLister@fcps.edu </a>
						<ul style="padding-left:20px">
							<li style="list-style-type:circle">Co-sponsors <strong>National Latin Honor Society, the Latin Club, and Certamen</strong></li>
							<li style="list-style-type:circle"><strong>Education:</strong> B.A., William and Mary</li>
							<li style="list-style-type:circle"><strong>AP Reader</strong> for Latin: '04</li>
							<li style="list-style-type:circle"><strong>Writing Committee</strong> for National Latin Exam</li> 
							<li style="list-style-type:circle"> Member of <strong>ACL, FCLTA, Classical Association of Virginia, CAMWS </strong></li>
						</ul>
					</a>
				</div>
				<div class="col-md-4">
					<a>
						<img class="img-responsive" src="img/lister_square.png" alt="...">
					</a>
				</div>
			</div>
		</div>
	</div>
</div>

<div>

	<!-- Definitely not best practices but it's okay for now! --> 
	<link href="styles/default.css" rel="stylesheet">
	<link href="styles/component.css" rel="stylesheet">
	<div class="container">	
		<header class="clearfix">
			<h1>Meet the officers!</h1>	
		</header>
		<div class="main">
			<ul id="og-grid" class="og-grid">
				<li>
					<a href="consul1" data-largesrc="img/images/stephanie_do.png" data-title="Stephanie Do" data-description="<b>Grade, Level</b> <br> 12, V <br> <b> Favorite author </b> <br> Catullus <br> <b> Favorite word </b> <br> lux <br> <b> Personal statement</b> <br> Nolite permittere somnia tua esse somnia">
						<img src="img/images/thumbs/stephanie_do.png" alt="img01"/>
						<div class="img-cap">
							<h3>Consul</h3>
						</div>
					</a>
				</li>
				<li>
					<a href="consul2" data-largesrc="img/images/rebecca_mays.png" data-title="Rebecca Mays" data-description="<b>Grade, Level</b><br> 12, V<br> <b>Favorite author</b><br> Catullus <br> <b>Favorite word</b><br> rumpens <br> <b>Personal statement</b> <br> I'm really excited to make my last year in LHS the best one, too!">
						<img src="img/images/thumbs/rebecca_mays.png" alt="img01"/>
						<div class="img-cap">
							<h3>Consul</h3>
						</div>
					</a>
				</li>
				<li>
					<a href="max1" data-largesrc="img/images/robert_kim.png" data-title="Robert Kim" data-description="<b>Grade, Level</b><br> 11, AP <br> <b>Favorite author</b><br> Catullus <br> <b>Favorite word</b><br> procax <br> <b>Personal statement</b> <br> Let us extend our Roman pride outside of our learning-cottage walls and let it resound within the TJ community and beyond.">
						<img src="img/images/thumbs/robert_kim.png" alt="img03"/>
						<div class="img-cap">
							<h3>Praetor Maximus</h3>
						</div>
					</a>
				</li>
				<li>
					<a href="max2" data-largesrc="img/images/henna_nam.png" data-title="Henna Nam" data-description="<b>Grade, Level</b><br> 11, AP <br> <b>Favorite author</b><br> Catullus <br> <b>Favorite word</b><br> procax <br> <b>Personal statement</b> <br> Let us extend our Roman pride outside of our learning-cottage walls and let it resound within the TJ community and beyond.">
						<img src="img/images/thumbs/henna_nam.png" alt="img03"/>
						<div class="img-cap">
							<h3>Praetor Maximus</h3>
						</div>
					</a>
				</li>
				<li>
					<a href="magnus" data-largesrc="img/images/joseph_kim.png" data-title="Joseph Kim" data-description="<b>Grade, Level</b><br>11, AP<br> <b>Favorite author</b><br> Publius Vergilius <br> <b>Favorite word</b><br> fortasse <br> <b>Personal statement</b> <br> WHOO SPIRIT lol! I look forward to working with all of you euntes ad Conventionem!">
						<img src="img/images/thumbs/joseph_kim.png" alt="img01"/>
						<div class="img-cap">
							<h3>Praetor Magnus</h3>
						</div>
					</a>
				</li>
				<li>
					<a href="tribune" data-largesrc="img/images/dylan_klapper.png" data-title="Dylan Klapper" data-description="<b>Grade, Level</b><br> 11, AP<br> <b>Favorite author</b><br> Caesar <br> <b>Favorite word</b><br> nequaquam <br> <b>Personal statement</b> <br> Caeasar no supra grammaticos! Just kidding :) Looking forward to an amazing year!!">
						<img src="img/images/thumbs/dylan_klapper.png" alt="img02"/>
						<div class="img-cap">
							<h3>Tribune</h3>
						</div>
					</a>
				</li>
				<li>
					<a href="censor" data-largesrc="img/images/militsa_sotirova.png" data-title="Militsa Sotirova" data-description="<b>Grade, Level</b><br> 11, AP <br> <b>Favorite author</b><br> Caesar <br> <b>Favorite word</b><br> divisus <br> <b>Personal statement</b> <br>&quot;Facing and overcoming challenges head on is the way to guarantee true success&quot;">
						<img src="img/images/thumbs/militsa_sotirova.png" alt="img03"/>
						<div class="img-cap">
							<h3>Censor</h3>
						</div>
					</a>
				</li>
				<li>
					<a href="rex1" data-largesrc="img/images/arjun_guidroz.png" data-title="Arjun Guidroz" data-description="<b>Grade, Level</b><br>11, AP<br> <b>Favorite author</b><br> Vergil <br> <b>Favorite word</b><br> strūthiocamēlus <br> <b>Personal statement</b> <br>Semper Paror Linguae Latinae servīre!">
						<img src="img/images/thumbs/arjun_guidroz.png" alt="img01"/>
						<div class="img-cap">
							<h3>Rex Certaminis</h3>
						</div>
					</a>
				</li>
				<li>
					<a href="rex2" data-largesrc="img/images/minyoung_hwang.png" data-title="Minyoung Hwang" data-description="<b>Grade, Level</b><br>12, V<br> <b>Favorite author</b><br> Catullus <br> <b>Favorite word</b><br> ars <br> <b>Personal statement</b> <br> Durate et vosmet quintae servate Latinae.">
						<img src="img/images/thumbs/minyoung_hwang.png" alt="img02"/>
						<div class="img-cap">
							<h3>Rex Certaminis</h3>
						</div>
					</a>
				</li>
				<li>
					<a href="rex3" data-largesrc="img/images/john_kim.png" data-title="John Kim" data-description="<b>Grade, Level</b><br>12, V<br> <b>Favorite author</b><br> Ovid <br> <b>Favorite word</b><br> qualecumque <br> <b>Personal statement</b> <br> This year's Certamen players show a lot of promise, so I look forward to helping lead our teams to victory at every Certamen tournament over the next few months!">
						<img src="img/images/thumbs/john_kim.png" alt="img03"/>
						<div class="img-cap">
							<h3>Rex Certaminis</h3>
						</div>
					</a>
				</li>
				<li>
					<a href="auctor" data-largesrc="img/images/anshu_sharma.png" data-title="Anshu Sharma" data-description="<b>Grade, Level</b><br> 11, AP <br> <b>Favorite author</b><br> Ovid <br> <b>Favorite word</b><br> olim <br> <b>Personal statement</b> <br> Latin is love, Latin is Life.">
						<img src="img/images/thumbs/anshu_sharma.png" alt="img03"/>
						<div class="img-cap">
							<h3>Auctor</h3>
						</div>
					</a>
				</li>
				<li>
					<a href="art1" data-largesrc="img/images/elizabeth_hu.png" data-title="Elizabeth Hu" data-description="<b>Grade, Level</b><br> 11, AP<br> <b>Favorite author</b><br> Vergil <br> <b>Favorite word</b><br> quamquam <br> <b>Personal statement</b> <br> I love TJ Latin and the great family we have here. I am so honored and excited to serve as artifex this year!">
						<img src="img/images/thumbs/elizabeth_hu.png" alt="img03"/>
						<div class="img-cap">
							<h3>Artifex</h3>
						</div>
					</a>
				</li>
				<li>
					<a href="art2" data-largesrc="img/images/hannah_kim.png" data-title="Hannah Kim" data-description="<b>Grade, Level</b><br> 12, V <br> <b>Favorite author</b><br> Vergil <br> <b>Favorite word</b><br> pertendo <br> <b>Personal statement</b> <br> I love working with my hands on crafts and filtering pictures I took of the sky.">
						<img src="img/images/thumbs/hannah_kim.png" alt="img03"/>
						<div class="img-cap">
							<h3>Artifex</h3>
						</div>
					</a>
				</li>
				<li>
					<a href="art3" data-largesrc="img/images/elizabeth_li.png" data-title="Elizabeth Li" data-description="<b>Grade, Level</b><br> 11, AP <br> <b>Favorite author</b><br> Catullus <br> <b>Favorite word</b><br> fortasse <br> <b>Personal statement</b> <br> I love the langauge of Latin and closeness of TJ Latin; I am honored and excited to be able to serve my fellow students as an officer this year.">
						<img src="img/images/thumbs/elizabeth_li.png" alt="img03"/>
						<div class="img-cap">
							<h3>Artifex</h3>
						</div>
					</a>
				</li>
				<li>
					<a href="domina" data-largesrc="img/images/emily_wang.png" data-title="Emily Wang" data-description="<b>Grade, Level</b><br> 11, AP<br> <b>Favorite author</b><br> Vergil <br> <b>Favorite word</b><br> quippe <br> <b>Personal statement</b> <br> I hope to imbibe the vast knowledge of our previous webmaster so I can serve well as a full Dominus next year!">
						<img src="img/images/thumbs/emily_wang.png" alt="img01"/>
						<div class="img-cap">
							<h3>Domina Telae</h3>
						</div>
					</a>
				</li>
				<li>
					<a href="proconsul" data-largesrc="img/images/wonseok_song.png" data-title="Wonseok Song" data-description="<b>Grade, Level</b><br> 12, V <br> <b>Favorite author</b><br> Vergil <br> <b>Favorite word</b><br> Minjae <br> <b>Personal statement</b> <br> The only thing I love more than anime is Latin.">
						<img src="img/images/thumbs/wonseok_song.png" alt="img03"/>
						<div class="img-cap">
							<h3>Proconsul</h3>
						</div>
					</a>
				</li>
			</ul>
		</div>
	</div>
</div>
