<div class="container">

	<h1>Convention Information</h1>
	<h3> Here you can find information about the upcoming annual state and national Latin conventions the registration process. We highly recommend that you attend at least one state convention during your career in TJ Latin - ask any student who's gone, and they will confirm that it is a great academic, personal, and fun experience. </h3>

	<h2> <b> VJCL State Convention </b> </h2>

	<p> 
		The VJCL State Convention is typically held at the Greater Richmond Convention Center in late November. For two days, students from schools all across Virginia participate in academic, graphic, and creative contests! You can find the VJCL website <a href="http://virginiajcl.org" target="_blank">here</a>. TJ has an especially illustrious streak for our crushing victories in all contests as well as our spirit, and we're relying on you to keep it up!
	</p>

	<div class="row">

		<div class="col-md-4" style="text-align:center;">
			<span class="glyphicon glyphicon-pencil" aria-hidden="true" style="font-size:3.4em;"></span>
			<h4> Tests </h4>
			<p> TJ students (aka elite members of the academic master race) are required to take at least 2 tests at each of 3 testing sessions. Topics range from grammar, vocabulary, geography, and mythology (some tests are required by our teachers), so you should pick what you enjoy and study for it! </p>
		</div>

		<div class="col-md-4" style="text-align:center;">
			<span class="glyphicon glyphicon-user" aria-hidden="true" style="font-size:3.4em;"></span>
			<h4> Creative Arts </h4>
			<p> Students can compete in creative arts competitions such as English/Latin oratory, dramatic interpretation, storytelling, and sight Latin. These are often memorized and are judged against other students in your grade level. Selections for this year can be found at the <a href="http://virginiajcl.org" target="_blank">VJCL website</a>.</p>
		</div>

		<div class="col-md-4" style="text-align:center;">
			<span class="glyphicon glyphicon-picture" aria-hidden="true" style="font-size:3.4em;"></span>
			<h4> Graphic Arts </h4>
			<p> Students can enter art projects to compete in their grade level. Categories of art range from greeting card to dolls. (Seriously, there are a lot of categories.) You're allowed to use art projects in the past year, but make sure you follow all the rules which can be found <a href="http://virginiajcl.org/about-us.html" target="_blank">here</a>. </p>
		</div>

	</div>

	<div class="row">

		<div class="col-md-4" style="text-align:center;">
			<span class="glyphicon glyphicon-star-empty" aria-hidden="true" style="font-size:3.4em;"></span>
			<h4> Talent Show </h4>
			<p> VJCL holds a talent show called "That's Entertainment." Auditions are held during Convention, and acts can be anything from singing to comedy to a Gollum impression! (That last one won in 2013 - we're not kidding.) The talent show is actually a quality highlight, so make sure you attend or audition! </p>
		</div>

		<div class="col-md-4" style="text-align:center;">
			<span class="glyphicon glyphicon-bullhorn" aria-hidden="true" style="font-size:3.4em;"></span>
			<h4> Spirit </h4>
			<p> Delegations cheer, stomp, and scream their hearts out at assemblies for the top Spirit Competition prize, and TJ has regularly come out on top in past years. Being engaged in spirit means being truly engaged in Latin, and if you let loose without inhibition, it can be a lot of fun. Conquer or die! </p>
		</div>

		<div class="col-md-4" style="text-align:center;">
			<span class="glyphicon glyphicon-heart" aria-hidden="true" style="font-size:3.4em;"></span>
			<h4> VJCLove </h4>
			<p> Whether you come into JCL gunning for the top spot on tests or 1st place in That's Entertainment, you're going to leave Convention with a lot of new friendships and/or much closer ties with students from your own delegation. One of the best things about Convention is the lasting friendships you build. </p>
		</div>

	</div>

	<h2> <b> NJCL National Convention </b> </h2>

	<p> 
		National Convention is like the ultimate version of State Convention. You still have tests and That's Entertainment and more, but it takes place in the summer and lasts five days. There are more contests and activities as well. If you are dedicated to Latin and want to meet awesome Latin students from across the nation, National Convention is for you! The 2019 National Convention will be held at North Dakota State University in Fargo, ND, from July 26th to 31st.
	</p>

	<!--<a href="https://drive.google.com/file/d/0BzO9iIgQP1roenpzMWdkbDVVZnc/view">Invitation Video</a>!-->

</div>
