<div class="container">

	<h1> Convention Academic Tests </h1>
	<p> This is going to be a pretty short webpage, just because the resources provided on other sites for Convention tests are already so comprehensive. Note that studying these materials will extend beyond Convention - they can actually aid in your general knowledge of whatever academic topics and help you in class as well. We're planning on making this page a little more full-featured and descriptive, so stay tuned! </p>

	<a href="http://njcl.org/pages/PreviousTestsKeys" target="_blank"> 
		NJCL Academic Tests & Keys
	</a>

	<br>

	<a href="https://sites.google.com/site/vjclacademics/" target="_blank">
		VJCL Academic Preparation Page
	</a>

</div>