<div class="photo-carousel">
    
  <div style="background-image: url(img/albums/lupercalia2015/7.JPG); background-repeat:no-repeat; background-position:center; background-size: 100%; position:relative;">
	 <div class="title-image">
	  	<h1 style="min-width:max-content; flex:none;padding:10px; margin: 0; color:black;order:1; background-color:#FFD700;"><b>Lupercalia</b></h1>
	  	<p style="padding:10px; order:2;"> In a completely historically accurate representation of Lupercalian festivities in Rome, a student pretends to be a wolf, seeking to break up pairs of lovers. Here, he is being slapped by our eminent Reges Certaminis in the famous Roman refertilization chamber. </p>
	</div>
  </div>
    
  <div style="background-image: url(img/albums/idesofmarch2016/16.jpg); background-repeat:no-repeat; background-position:center; background-size: 100%; position:relative;">
	 <div class="title-image">
	  	<h1 style="min-width:max-content; flex:none;padding:10px; margin: 0; color:black;order:1; background-color:#FFD700;"><b>Ides of March</b></h1>
	  	<p style="padding:10px; order:2;"> Our fearless leader dies, happy to be commemorating the Ides of March. While students are always willing to shed blood for TJ Latin, Twizzlers were selected as a tastier (and more tasteful) alternative. </p>
	</div>
  </div>
    
  <div style="background-image: url(img/albums/convention2015/7.jpg); background-repeat:no-repeat; background-position:center; background-size: 100%; position:relative;">
	 <div class="title-image">
	  	<h1 style="min-width:max-content; flex:none;padding:10px; margin: 0; color:black;order:1; background-color:#FFD700;"><b>TJ at VJCL Convention</b></h1>
	  	<p style="padding:10px; order:2;"> We had a total blast at Convention this year! We can't wait to come back in 2016 stronger than ever. Thanks to everyone who attended, and we are so excited! Ubi concordia, ibi victoria! </p>
	</div>
  </div>

  <div style="background-image: url(img/albums/vergilsbirthday2015/2.jpg); background-repeat:no-repeat; background-position:center; background-size: 100%; position:relative;">
	 <div class="title-image">
	  	<h1 style="min-width:max-content; flex:none;padding:10px; margin: 0; color:black;order:1; background-color:#FFD700;"><b>Vergil's Birthday</b></h1>
	  	<p style="padding:10px; order:2;"> On this oft-underrated holiday taking place on October 15, we pay homage to one of the greatest curriculum writers for AP Latin who ever lived with a reenactment of a baby's Lustratio, or naming ceremony.</p>
	</div>
  </div>

</div>

<div class="container">
	<div class="row">
		<div class="col-sm-8">
			<h1>Welcome to TJ Latin Honor Society!</h1>
			<p> We are so excited to share with you all the great aspects of TJ's excellent Latin program. From academic rigor to ancient festivities, we've got it all! Check out our site to learn more about us.</p>
			<p><a class="btn btn-primary btn-lg" ui-sref="about" role="button">Learn more</a></p>
		</div>
		<div class="col-sm-4">
			<div class="well">
				<h2 style="margin-top:0"> 2015-2016 JCL Motto </h2>
				<blockquote>
					<p>Ubi concordia, ibi victoria.</p>
					<p style="float:right"><em>Roman Proverb</em></p>
				</blockquote>
				
			</div>
		</div>
	</div>
</div>