<div class="photo-carousel">
  <div style="background-image: url(img/albums/convention2018-19/convention.png); background-repeat:no-repeat; background-position:center; background-size: 100%; position:relative;">
	 <div class="title-image">
	  	<h1 style="min-width:max-content; flex:none;padding:10px; margin: 0; color:black;order:1; background-color:#FFD700;"><b>TJ at VJCL Convention</b></h1>
	  	<p style="padding:10px; order:2;"> This year's convention was BUZZing with excitement! We can't wait to SOAR at the next convention!</p>
	</div>
  </div>
  
  <div style="background-image: url(img/albums/cover/birthday.png); background-repeat:no-repeat; background-position:center; background-size: 100%; position:relative;">
	 <div class="title-image">
	  	<h1 style="min-width:max-content; flex:none;padding:10px; margin: 0; color:black;order:1; background-color:#FFD700;"><b>Vergil's Birthday</b></h1>
	  	<p style="padding:10px; order:2;">Our AP Latin students commemorate Vergil's birthday by re-enacting his naming ceremony and celebrating with lots of fun, food, and cake!</p>
	</div>
  </div>
    
  <div style="background-image: url(img/albums/cover/marriage.jpg); background-repeat:no-repeat; background-position:center; background-size: 100%; position:relative;">
	 <div class="title-image">
	  	<h1 style="min-width:max-content; flex:none;padding:10px; margin: 0; color:black;order:1; background-color:#FFD700;"><b>Comissatio</b></h1>
	  	<p style="padding:10px; order:2;"> Our Latin 3's start off their year by getting married (well, kind of)! They learn about the comissatio and celebrate the festivities a traditional high-class Roman marriage entails.</p>
	</div>
  </div>

  <div style="background-image: url(img/albums/cover/pumpkin.jpg); background-repeat:no-repeat; background-position:center; background-size: 100%; position:relative;">
	 <div class="title-image">
	  	<h1 style="min-width:max-content; flex:none;padding:10px; margin: 0; color:black;order:1; background-color:#FFD700;"><b>Myth Pumpkins</b></h1>
	  	<p style="padding:10px; order:2;"> The entire TJ Latin club decorates spooky, realistic (although, some seem a little abstract), and creative myth pumpkins to celebrate Halloween!</p>
	</div>
  </div>

</div>

<div class="container">
	<div class="row">
		<div class="col-sm-8">
			<h1>Welcome to TJ Latin Honor Society!</h1>
			<p> We are so excited to share with you all the great aspects of TJ's excellent Latin program. From our academic rigor to ancient festivities, we've got it all! Check out our site to learn more about us.</p>
			<p><a class="btn btn-primary btn-lg" ui-sref="about" role="button">Learn more</a></p>
		</div>
		<div class="col-sm-4">
			<div class="well">
				<h2 style="margin-top:0"> 2019-20 JCL Motto </h2>
				<blockquote>
					<p>Omnes...summa ope niti decet, ne vitam silentio transeant.</p>
					<p>It befits all to strive with the greatest effort, lest they pass their lives in silence.</p>
					<p style="float:right"><em> Sallust, Bellum Catilinae, 1.1</em></p>
				</blockquote>
				
			</div>
		</div>
	</div>
</div>
