<div class="photo-carousel">
  <div style="background-image: url(img/albums/convention2018-19/convention.png); background-repeat:no-repeat; background-position:center; background-size: 100%; position:relative;">
	 <div class="title-image">
	  	<h1 style="min-width:max-content; flex:none;padding:10px; margin: 0; color:black;order:1; background-color:#FFD700;"><b>TJ at VJCL Convention</b></h1>
	  	<p style="padding:10px; order:2;"> This year's convention was BUZZing with excitement! We can't wait to SOAR at the next convention!</p>
	</div>
  </div>
  
  <div style="background-image: url(img/albums/lupercalia2018/luper12.jpg); background-repeat:no-repeat; background-position:center; background-size: 100%; position:relative;">
	 <div class="title-image">
	  	<h1 style="min-width:max-content; flex:none;padding:10px; margin: 0; color:black;order:1; background-color:#FFD700;"><b>Lupercalia</b></h1>
	  	<p style="padding:10px; order:2;"> In a completely historically accurate representation of Lupercalian festivities in Rome, a student pretends to be a wolf, seeking to break up pairs of lovers (talk about tough love...). As you can see here, everyone has an awesome time. Witness even more of the action in our 'Pictures' tab! </p>
	</div>
  </div>
    
  <div style="background-image: url(img/albums/ides2018/i67.jpg); background-repeat:no-repeat; background-position:center; background-size: 100%; position:relative;">
	 <div class="title-image">
	  	<h1 style="min-width:max-content; flex:none;padding:10px; margin: 0; color:black;order:1; background-color:#FFD700;"><b>Ides of March</b></h1>
	  	<p style="padding:10px; order:2;"> Our fearless leader dies, happy to be commemorating the Ides of March. While students are always willing to shed blood for TJ Latin, Twizzlers were selected as a tastier (and more tasteful) alternative. </p>
	</div>
  </div>

  <div style="background-image: url(img/albums/dieslustricus2017/dl2.jpg); background-repeat:no-repeat; background-position:center; background-size: 100%; position:relative;">
	 <div class="title-image">
	  	<h1 style="min-width:max-content; flex:none;padding:10px; margin: 0; color:black;order:1; background-color:#FFD700;"><b>Vergil's Birthday</b></h1>
	  	<p style="padding:10px; order:2;"> On this oft-underrated holiday taking place on October 15, we pay homage to one of the greatest curriculum writers for AP Latin who ever lived with a reenactment of a baby's Lustratio, or naming ceremony.</p>
	</div>
  </div>

</div>

<div class="container">
	<div class="row">
		<div class="col-sm-8">
			<h1>Welcome to TJ Latin Honor Society!</h1>
			<p> We are so excited to share with you all the great aspects of TJ's excellent Latin program. From our academic rigor to ancient festivities, we've got it all! Check out our site to learn more about us.</p>
			<p><a class="btn btn-primary btn-lg" ui-sref="about" role="button">Learn more</a></p>
		</div>
		<div class="col-sm-4">
			<div class="well">
				<h2 style="margin-top:0"> 2018-19 JCL Motto </h2>
				<blockquote>
					<p>Apes non sunt solitaria natura.</p>
					<p>Bees are not of a solitary nature.</p>
					<p style="float:right"><em> Varro, De Agri Cultura 3.16</em></p>
				</blockquote>
				
			</div>
		</div>
	</div>
</div>
