<div ng-hide="browsingLevels">
    <div class = "container">
        <a href ng-click="switch()"> Back to Level Selection</a>
        <div ng-show="level === 1">
            
            <h1>Ecce Romani I: Vocab, Chapter 1</h1>
            <iframe src="https://quizlet.com/71616280/scatter/embedv2" height="410" width="100%" style="border:0;"></iframe>
            
            <h1>Ecce Romani I: Vocab, Chapter 2</h1>
            <iframe src="https://quizlet.com/71617590/scatter/embedv2" height="410" width="100%" style="border:0;"></iframe>
            
            <h1>Ecce Romani I: Vocab, Chapter 3</h1>
            <iframe src="https://quizlet.com/71618597/scatter/embedv2" height="410" width="100%" style="border:0;"></iframe>
            
            <h1>Ecce Romani I: Vocab, Chapter 4</h1>
            <iframe src="https://quizlet.com/71619612/scatter/embedv2" height="410" width="100%" style="border:0;"></iframe>
            
            <h1>Ecce Romani I: Vocab, Chapter 5</h1>
            <iframe src="https://quizlet.com/71620755/scatter/embedv2" height="410" width="100%" style="border:0;"></iframe>
            
            <h1>Ecce Romani I: Vocab, Chapter 6</h1>
            <iframe src="https://quizlet.com/71621778/scatter/embedv2" height="410" width="100%" style="border:0;"></iframe>
            
            <h1>Ecce Romani I: Vocab, Chapter 7</h1>
            <iframe src="https://quizlet.com/71622658/scatter/embedv2" height="410" width="100%" style="border:0;"></iframe>
            
            <h1>Ecce Romani I: Vocab, Chapter 8</h1>
            <iframe src="https://quizlet.com/71623394/scatter/embedv2" height="410" width="100%" style="border:0;"></iframe>
            
            <h1>Ecce Romani I: Vocab, Chapter 9</h1>
            <iframe src="https://quizlet.com/71623835/scatter/embedv2" height="410" width="100%" style="border:0;"></iframe>
            
            <h1>Ecce Romani I: Vocab, Chapter 10</h1>
            <iframe src="https://quizlet.com/71625037/scatter/embedv2" height="410" width="100%" style="border:0;"></iframe>
            
            <h1>Ecce Romani I: Vocab, Chapters 11-14</h1>
            <iframe src="https://quizlet.com/20468431/scatter/embedv2" height="410" width="100%" style="border:0;"></iframe>
            
            <h1>Ecce Romani I: Vocab, Chapters 15-17</h1>
            <iframe src="https://quizlet.com/21757091/scatter/embedv2" height="410" width="100%" style="border:0;"></iframe>
            
            <h1>Ecce Romani I: Vocab, Chapter 19-21</h1>
            <iframe src="https://quizlet.com/23197960/scatter/embedv2" height="410" width="100%" style="border:0;"></iframe>
            
            <h1>Grammar: Nominative Case</h1>
            <iframe src="https://quizlet.com/73281639/scatter/embedv2" height="410" width="100%" style="border:0;"></iframe>
            
            <h1>Grammar: Ablative Case</h1>
            <iframe src="https://quizlet.com/73283304/scatter/embedv2" height="410" width="100%" style="border:0;"></iframe>
            
            <h1>Grammar: Accusative Case</h1>
            <iframe src="https://quizlet.com/73283044/scatter/embedv2" height="410" width="100%" style="border:0;"></iframe>
            
            <h1>Grammar: Vocative Case</h1>
            <iframe src="https://quizlet.com/70269190/scatter/embedv2" height="410" width="100%" style="border:0;"></iframe>
            
            <h1>Grammar: Dative Case</h1>
            <iframe src="https://quizlet.com/73282763/scatter/embedv2" height="410" width="100%" style="border:0;"></iframe>
            
            <h1>Grammar: Genitive Case</h1>
            <iframe src="https://quizlet.com/73282430/scatter/embedv2" height="410" width="100%" style="border:0;"></iframe>
            
            <h1>Ecce Romani I: Adverbs (page 100)</h1>
            <iframe src="https://quizlet.com/70269190/scatter/embedv2" height="410" width="100%" style="border:0;"></iframe>
        </div>
        <div ng-show="level === 2">
            <h2>Ecce Romani II: Culture, Chapters 28-30</h2>
            <iframe src="https://quizlet.com/16173339/scatter/embedv2" height="410" width="100%" style="border:0;"></iframe>
            
            <h2>Ecce Romani II: Vocab, Chapters 28-30</h2>
            <iframe src="https://quizlet.com/16171948/scatter/embedv2" height="410" width="100%" style="border:0;"></iframe>
            
            <h2>Ecce Romani II: Verbs, Chapters 28-34</h2>
            <iframe src="https://quizlet.com/12394333/scatter/embedv2" height="410" width="100%" style="border:0;"></iframe>
            
            <h2>Ecce Romani II: Vocab, Chapters 37-39</h2>
            <iframe src="https://quizlet.com/22056828/scatter/embedv2" height="410" width="100%" style="border:0;"></iframe>
            
            <h2>Ecce Romani II: Vocab, Chapters 50-51</h2>
            <iframe src="https://quizlet.com/51115124/scatter/embedv2" height="410" width="100%" style="border:0;"></iframe>
            
            <h2>Vocab: qu- Words</h2>
            <iframe src="https://quizlet.com/16173932/scatter/embedv2" height="410" width="100%" style="border:0;"></iframe>
            
            <h2>Vocab: Adverbs</h2>
            <iframe src="https://quizlet.com/20407283/scatter/embedv2" height="410" width="100%" style="border:0;"></iframe>
            
            <h2>Vocab: All Verbs of Ecce Romani I</h2>
            <iframe src="https://quizlet.com/8880234/scatter/embedv2" height="410" width="100%" style="border:0;"></iframe>
            
            <h2>Grammar: Passive Voice Endings</h2>
            <iframe src="https://quizlet.com/16239566/flashcards/embedv2" height="410" width="100%" style="border:0;"></iframe>
            
            <h2>Grammar: Long Marks by Declension</h2>
            <iframe src="https://quizlet.com/16172793/scatter/embedv2" height="410" width="100%" style="border:0;"></iframe>
        </div>
        <div ng-show="level === 3">
            <h1>Ecce Romani III: Vocab, 55A, B, C</h1>
            <iframe src="https://quizlet.com/62527087/scatter/embedv2" height="410" width="100%" style="border:0;"></iframe>
            
            <h1>Vocab: Military Words</h1>
            <iframe src="https://quizlet.com/65336072/scatter/embedv2" height="410" width="100%" style="border:0;"></iframe>
            
            <h1>Roman History Dates</h1>
            <iframe src="https://quizlet.com/34856959/scatter/embedv2" height="410" width="100%" style="border:0;"></iframe>
            
            <h1>Latin Figures of Speech</h1>
            <iframe src="https://quizlet.com/44258931/scatter/embedv2" height="410" width="100%" style="border:0;"></iframe>
            
            <h1>VSF</h1>
            <iframe src="https://quizlet.com/58455315/scatter/embedv2" height="410" width="100%" style="border:0;"></iframe>
        </div>
        <div ng-show="level === 4">
            <h2>Aeneid: Books 1 and 2 Vocab</h2>
            <iframe src="https://quizlet.com/83095184/scatter/embedv2" height="410" width="100%" style="border:0;"></iframe>
            
            <h2>Aeneid: Books 4 and 6 Vocab</h2>
            <iframe src="https://quizlet.com/83124144/scatter/embedv2" height="410" width="100%" style="border:0;"></iframe>
            
            <h2>Aeneid: Book 2 Comprehension</h2>
            <iframe src="https://quizlet.com/61619005/scatter/embedv2" height="410" width="100%" style="border:0;"></iframe>
            
            <h2>DBG: Vocab</h2>
            <iframe src="https://quizlet.com/83305634/scatter/embedv2" height="410" width="100%" style="border:0;"></iframe>
            
            <h2>DBG: Book 1 Comprehension</h2>
            <iframe src="https://quizlet.com/71030659/scatter/embedv2" height="410" width="100%" style="border:0;"></iframe>
            
            <h2>DBG: Books 6 and 7 Comprehension</h2>
            <iframe src="https://quizlet.com/77923862/scatter/embedv2" height="410" width="100%" style="border:0;"></iframe>
            
            <h2>Literary Devices</h2>
            <iframe src="https://quizlet.com/44273276/scatter/embedv2" height="410" width="100%" style="border:0;"></iframe>
            
            <h2>Vocab: Adverbs</h2>
            <iframe src="https://quizlet.com/57816223/scatter/embedv2" height="410" width="100%" style="border:0;"></iframe>
            
        </div>
    </div>
</div>

<div ng-show="browsingLevels">

    <div class = "container">
        <h1> Interactive Quizzes </h1>
        <div class = "row">
            <div class = "col-md-6 text-center">
                <div class="well" ng-click="setLevel(1)" style="cursor:pointer">
                    <h1 style="padding-top:12vh;padding-bottom:12vh"> Latin 1 </h1>
                </div>
            </div>
            
            <div class = "col-md-6 text-center">
                <div class="well" ng-click="setLevel(2)" style="cursor:pointer">
                    <h1 style="padding-top:12vh;padding-bottom:12vh"> Latin 2 </h1>
                </div>
            </div>
        </div>
        <div class = "row">
            <div class = "col-md-6 text-center">
                <div class="well" ng-click="setLevel(3)" style="cursor:pointer">
                    <h1 style="padding-top:12vh;padding-bottom:12vh"> Latin 3 </h1>
                </div>
            </div>
            
            <div class = "col-md-6 text-center">
                <div class="well" ng-click="setLevel(4)" style="cursor:pointer">
                    <h1 style="padding-top:12vh;padding-bottom:12vh"> AP Latin+ </h1>
                </div>
            </div>
        </div>
    </div>
</div>