<div class="container">

	<h1> Helpful Links </h1>
    
    <h2><a href="https://drive.google.com/drive/folders/1nxZz_TQTUBX_rhKKhtY0F3Nt9QVFcvSc?usp=sharing" target="_blank">Chapter Minutes</a></h2>
    <p>Google Drive folder of all of our minutes from our meetings.</p>
    
	<h2><a href="http://www.archives.nd.edu/words.html" target="_blank">Whitaker's Words</a></h2>
    <p>Best Latin dictionary out there! Can translate from English to Latin and vice versa.</p>
    
    <h2><a href="https://www.wiktionary.org/" target="_blank">Wiktionary</a></h2>
    <p>Not just for Latin! Has detailed etymology and extra info for every word you can imagine. There are also translations of many Latin works on Wiktionary, such as Catullus's poems.</p>
    
    <h2><a href="http://www.roman-empire.net/" target="_blank">History of the Roman Empire</a></h2>
    <p>Fantastic resource for learning about Roman History. Detailed summaries of different historical periods as well as pictures and maps of Rome.</p>
    
    <h2><a href="http://virginiajcl.org/" target="_blank">Virginia JCL</a></h2>
    <p>Virginia JCL Website with information about Certamen, NJCL Convention, forms, etc.</p>
    
    <h2><a href="http://vscl.webs.com/" target="_blank">Virginia Senior Classical League</a></h2>
    <p>Info on ways to stay involved with the JCL after high school! The Virginia Senior Classical League is a group of college students  who work to support the Virginia Junior Classical League. They run Kick-Off Certamen as well as State Finals for Certamen.</p>
    
    <h2><a href="http://www.cavclassics.org/index.html" target="_blank">Classical Association of Virginia</a></h2>
    <p>Check out information about the Classical Association of Virginia! They have tests and tournaments and news about classics-related events.</p>
    
    <h2><a href="http://njcl.org/" target="_blank">National Junior Classical League</a></h2>
    <p>Tons of information here about NJCL Convention and the activities of the NJCL. There are also lots of really helpful online exam resources to be found here as well!</p>

</div>
