<h1> Site Map </h1>
<p> You know, just in case you lose your way. </p>

<ul>
	<li> <a ui-sref="home"> Home </a> </li>
	<li> <a ui-sref="about"> About Us </a> </li>
	<li> Events </li>
	<ul>
		<li> <a ui-sref="calendar"> Calendar </a> </li>
		<li> <a ui-sref="convention"> Convention </a> </li>
		<li> <a ui-sref="scribe">Newsletter</a> </li>
	</ul>
	<li> <a ui-sref="image"> Pictures </a> </li> 
	<li> Academics </li>
	<ul>
		<li> <a ui-sref="studyguides"> Study Guides </a> </li>
		<li> <a ui-sref="interactivequizzes"> Interactive Quizzes </a> </li>
		<li> <a ui-sref="conventiontests"> Convention Tests </a></li>
	</ul>
	<li> Awards </li>
	<ul>
		<li> <a ui-sref="2016awards"> 2016-2017 List </a> </li>
		<li> <a ui-sref="2015awards"> 2015-2016 List </a> </li>
		<li> <a ui-sref="2014awards"> 2014-2015 List </a> </li>
		<li> <a ui-sref="2013awards"> 2013-2014 List </a> </li>
	</ul>
    <li> <a ui-sref="links"> Links </a> </li>
	<li> <a ui-sref="blog"> Blog </a> </li>
</ul>
