<div class="container">
	<h1> Study Guides </h1>
	<p> Here are a few student-created study guides separated into categories. Click the titles of documents to download them. If you'd like to submit your own study guide, please contact the Dominus Telae at: <a href="mailto:tjlatinhonorsociety@gmail.com?Subject=Study%20Guide" target="_top"> tjlatinhonorsociety@gmail.com</a>.</p>
	 
	<p> If you have any questions about the study guides or if you're in Certamen and have a question, contact our Certamen Coordinators <a href="mailto:arjun.guidroz@gmail.com" target="_top">Arjun Guidroz</a>, <a href="mailto:myhwang1999@gmail.com" target="_top">Minyoung Hwang</a>, or <a href="mailto:johnk.395@gmail.com" target="_top">John Kim</a>. </p>

	<accordion close-others="oneAtATime">
		<accordion-group is-open="status.open1">
			<accordion-heading>
				Certamen <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open1, 'glyphicon-chevron-right': !status.open1}"></i>
			</accordion-heading>
			Here are this year's 2013 TJHSST Certamen questions and answers.

			<ul>
				<li><a href="docs/studyguides/certamen/2013_TJLatin1.doc" > Latin I Questions & Answers </a></li>
				<li><a href="docs/studyguides/certamen/2013_TJLatin2.docx" > Latin II Questions & Answers </a></li>
				<li><a href="docs/studyguides/certamen/2013_TJLatin3.doc" > Latin III Questions & Answers </a></li>
				<li><a href="docs/studyguides/certamen/2013_TJLatinUpper.doc"> Latin Upper Questions & Answers </a></li>
			</ul>

		</accordion-group>
		<accordion-group is-open="status.open2">
			<accordion-heading>
				Grammar <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open2, 'glyphicon-chevron-right': !status.open2}"></i>
			</accordion-heading>
			
			<ul>
				<li><a href="docs/studyguides/grammar/GGG.doc" > Coffee's Gratuitous Grammar Guide </a></li>
				<ul>
					<li> "Currently under construction. Work is sporadic, unpredictable, and generally random. If you remind me, I'll work on it more. Please direct any questions, comments, corrections, or concerns to: <a href="mailto:acoffee712@gmail.com" target="_top"> acoffee712@gmail.com</a> " -Andrew Coffee, Class of 2014 </li>
				</ul>
			</ul>

		</accordion-group>

		<accordion-group is-open="status.open3">
			<accordion-heading>
				Mythology <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open3, 'glyphicon-chevron-right': !status.open3}"></i>
			</accordion-heading>

			If you have any questions, please contact TJHSST alumnus Rachel Goldstein, Class of 2012 at:  <a href="mailto:elentari.7@gmail.com" target="_top">elentari.7@gmail.com</a>
			
			<ul>
				<li><a href="docs/studyguides/mythology/Everything_About_Theseus.doc" > Everything About Theseus </a></li>
				<ul>
					<li> "Everything about Theseus: Story of Theseus's full life. It is very thorough; it should get you about through Level 3 Finals. However, to make life easy for those of you who do not in any realm of potentiality wish to attain that level of knowledge yet, the most important names have been bolded. The three episodes left off were, if you feel really hardcore, Perigune, the Marathonian bull, and Hecale." -Anne Marie Creighton, Class of 2010</li>
				</ul>

				<li><a href="docs/studyguides/mythology/Everything_About_Theseus.doc" > Everything About Perseus </a></li>
				<ul>
					<li> "Everything about Perseus: Footnotes and everything!  But please read them.  Some of them are funny, some of them are places, some of them are lists of people." -Anne Marie Creighton, Class of 2010</li>
				</ul>

				<li><a href="docs/studyguides/mythology/Achilles.doc" > Achilles </a></li>
				<ul>
					<li> "Achilles: Anne Marie Creighton and I wrote this together, editing via footnotes; so those notes get very tangled. Ignore the arguments over the merits of various mythological characters; unless you're really into obscure alternate versions of myths, you probably don't need to delve into the crazy footnotes at all." -Rachel Goldstein, Class of 2012 </li>
				</ul>

				<li><a href="docs/studyguides/mythology/MycenaeanSagaPart1.doc" > Mycenaean Saga Part 1 </a></li>
				<ul>
					<li>  Mycenaean Saga Part 1: The origins of the cursed royal house of Mycenae in great detail - so, Tantalus, Pelops, and the House of Perseus. </li>
				</ul>

				<li><a href="docs/studyguides/mythology/MycenaeanSagaPart2.doc" > Mycenaean Saga Part 2 </a></li>
				<ul>
					<li> Mycenaean Saga Part 2: The intertwinings of Mycenae, Sparta and Troy - so, Atreus & Thyestes, Helen and Clytemnestra, and Paris. </li>
				</ul>

				<li><a href="docs/studyguides/mythology/MycenaeanSagaPart3.doc" > Mycenaean Saga Part 3 </a></li>
				<ul>
					<li> Mycenaean Saga Part 3: The Trojan War and its aftermath (for the House of Atreus, anyway) - so, Agamemnon, Menelaus, Orestes... </li>
				</ul>

				<li><a href="docs/studyguides/mythology/MycenaeanFamilyTree.docx" > Mycenaean Saga Family Tree </a></li>
				<ul>
					<li>"Mycenaean Saga Family Tree: My attempt to make the various lines of descent less confusing. Double lines mean marriage, dotted lines mean distant descent. Hope this helps!" -Rachel Goldstein, Class of 2012 </li>
				</ul>

				<li><a href="docs/studyguides/mythology/Thebancyclept1OedipusCycle.doc" > Theban Cycle Part 1 </a></li>
				<ul>
					<li>Theban Cycle Part 1: The Oedipus Cycle (most of which is covered by Sophocles' Antigone, Oedipus Rex, and Oedipus at Colonus)</li>
				</ul>

				<li><a href="docs/studyguides/mythology/Thebancyclepart2SevenAgainstThebes.doc" > Theban Cycle Part 2 </a></li>
				<ul>
					<li>Theban Cycle Part 2: The Seven Against Thebes</li>
				</ul>

				<li><a href="docs/studyguides/mythology/Thebansagapart3andfinalEpigoni.doc" > Theban Cycle Part 3 </a></li>
				<ul>
					<li>Theban Cycle Part 3: The Epigoni</li>
				</ul>

				<li><a href="docs/studyguides/mythology/Homer'sIliadCatalogueofShips.docx" > Homer's Illiad Catalogue of Ships </a></li>
				<ul>
					<li>Homer's Iliad - Catalogue of Ships: The stories of all the prominent Greeks mentioned in the Iliad - mostly limited to their role in the Trojan War and the effect the war had on their later lives. Also included, for those who care, is proof that Helen's faced actually launched one thousand one hundred and eighty-six ships.</li>
				</ul>

				<li><a href="docs/studyguides/mythology/Metamorphoses.docx" > Metamorphoses</a></li>
				<ul>
					<li>Ovid's Metamorphoses: who transformed into what because of whom and why, in the order the stories appear in the book. NB: covers physical transformations only, i.e. not <em>all</em> the stories in the Metamorphoses.</li>
				</ul>

			</ul>

		</accordion-group>

		<accordion-group is-open="status.open4">
			<accordion-heading>
				General/Miscellaneous <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open4, 'glyphicon-chevron-right': !status.open4}"></i>
			</accordion-heading>
			
			<ul>
				<li><a href="docs/studyguides/general/Sayings_And_Common_Expressions.docx" > Sayings and Common Expressions </a></li>
				<ul>
					<li> "This is my study guide for Latin expressions and their common uses; can be used in Certamen or Latin in general.  NB. The formatting may have gone a bit weird but I think the content is okay." -Minyoung Hwang, Class of 2018 </li>
				</ul>
                
                <li><a href="docs/studyguides/general/Latin_1_VSF_Study_Guide.docx" > Latin 1 VSF Study Guide </a></li>
				<ul>
					<li> "A study guide consisting of Magistra Lister's VSF's. Great for studying mottoes for convention, and ESSENTIAL for the ambitious Latin I Certamen player." -Andrew Huang, Class of 2016 </li>
				</ul>
			</ul>

		</accordion-group>
	</accordion>

</div>
