#photos {
   /* Prevent vertical gaps */
   line-height: 0;
   
   -webkit-column-count: 3;
   -webkit-column-gap:   0px;
   -moz-column-count:    3;
   -moz-column-gap:      0px;
   column-count:         3;
   column-gap:           0px;
   
}
#photos img {
  /* Just in case there are inline attributes */
  width: 100% !important;
  height: auto !important;
}

@media (max-width: 1200px) {
  #photos {
  -moz-column-count:    3;
  -webkit-column-count: 3;
  column-count:         3;
  }
}
@media (max-width: 1000px) {
  #photos {
  -moz-column-count:    3;
  -webkit-column-count: 3;
  column-count:         3;
  }
}
@media (max-width: 800px) {
  #photos {
  -moz-column-count:    2;
  -webkit-column-count: 2;
  column-count:         2;
  }
}
@media (max-width: 400px) {
  #photos {
  -moz-column-count:    1;
  -webkit-column-count: 1;
  column-count:         1;
  }
}


/*DARKEN*/
.image-container {
  -webkit-transition: all .2s ease;
  -moz-transition: all .2s ease;
  -o-transition: all .2s ease;
  -ms-transition: all .2s ease;
  transition: all .2s ease;
  -webkit-backface-visibility: hidden;
}
 
.image-container:hover, .image-container:active {
  -webkit-filter: grayscale(100%) contrast(2.1);
  -ms-filter: grayscale(100%) contrast(2.1);
  -moz-filter: grayscale(100%) contrast(2.1);
  -o-filter: grayscale(100%) contrast(2.1);
  filter: grayscale(100%) contrast(2.1);
}

.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

.verticallycentered {
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}

.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus {
  color: #ffffff;
  text-decoration: none;
  outline: 0;
  background-color: #964494;
}

.row-centered {
    text-align:center;
}
.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    margin-right:-4px;
}

.title-image {
  display: inline-flex; 
  position:absolute; 
  bottom:0; 
  background-color: rgba(96, 33, 87, 0.75);
}

@media (max-width: 500px) {
  .title-image {
    display: none;
  }
}
